--index-url https://pypi.tuna.tsinghua.edu.cn/simple

pettingzoo
loguru
opencv-python
gym
gymnasium==0.29.1
gymnasium[accept-rom-license]
gymnasium[atari]
gymnasium[mujoco]
gymnasium[box2d]
tensorboard
flappy-bird-gymnasium