--index-url https://pypi.tuna.tsinghua.edu.cn/simple

tianshou
pettingzoo
loguru
gym
gymnasium
gymnasium[accept-rom-license]
gymnasium[atari]
gymnasium[mujoco]
gymnasium[box2d]
tensorboard
flappy-bird-gymnasium